{:profiles/dev  {:env {:database-url "jdbc:postgresql://localhost/code_battle_dev?user=postgres"}}
 :profiles/test {:env {:database-url "jdbc:postgresql://localhost/code_battle_test?user=postgres"}}}
